@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.commonpadding{
    padding: 30px 8%;
}
body{
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
}
.textHead{
    color: #FFFFFF;
}

.commonbtn{
    background: linear-gradient( 21deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    width: 185px;
    height: 45px;
    border: none;
    border-radius: 50px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transform-origin: right center;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}
.commonbtn:hover{
    transform: scaleX(1.25);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
hr{
    border: none;
    height: .07px;
    background-color: gray;
    margin-bottom: 10px;
}
/* header end */
/* nav  */

.navlogo{
    text-decoration: none;
}
.logo{
    color: whitesmoke;
    font-size: 2rem;
    font-weight: 700;
}
.logocolor{
    background: linear-gradient( 45deg, #F7E93F 8%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.navdiv ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    margin-top: 15px;
}
.navdiv ul li{
    list-style: none;

}
.navdiv ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
}
#burger{
    display: none;
}

.menuburger{
    font-size: 25px;
}
/* nav end */
/* banner */
.banner{
    background-image: url("../img/hero-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position:relative;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}
.bannercontiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 42px;
}
.bannerimg{
    max-width: 100%;
    max-height: 350px;
    position: absolute;
}
.imgbanner{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.micphon{
    position: absolute;
    width: 33%;
    height: auto;
    top: 25%;
    left: 34%;
    object-fit: contain;
    animation: swingMic 7.5s ease-in-out infinite;
    transform-origin: bottom center;
}
@keyframes swingMic {
     0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.new{
    position: absolute;
    top: 20px;
    right: 35px;
    background-color: #00FF88;
    color: black;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.28);
}
 
.bannersection{
    margin-top: 430px;
}
.bannertitle{
    font-size: 3.75rem;
    font-weight: 900;
    color: #FFFFFF;
}
.bannerpara{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.buttonmargin{
    margin-top: 25px;
}
.spotifybutton{
    background: linear-gradient( 21deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    width: 185px;
    height: 45px;
    border: none;
    border-radius: 50px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transform-origin: right center;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}
.spotifybutton:hover{
    transform: scaleX(1.25);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
.emailbutton{
    background-color: transparent;
    color: #00FF88;
    border: 2px solid #00FF88;
    border-radius: 50px;
    height: 45px;
    width: 150px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transform-origin: right center;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}
.emailbutton:hover{
    transform: scaleX(1.25);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
.emailicon{
    color: #00FF88;
    margin-right: 5px;
}
/* banner end */
/* poadcast */
.poadcast{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.poadtitle{
    font-size: 3rem;
    font-weight: 700;
}
.poaddes{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 10px;
}
/* poadcast end */

